{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/ciencia.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Lideres</span>
            <span class="section-heading-lower">Sabemos de tecnologia</span>
          </h2>
          <p class="mb-3">Tenemos las ultimas novedades y avances en materia tecnologica
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta" style="background-color:rgba(36, 181, 210, 0.0)">
      <div class="container">
        <div class="row" >
          <div class="col-xl-9 mx-auto" >
            <div class="cta-inner text-center rounded" >
              <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">Soluciones practicas</span>
                <span class="section-heading-lower">Con atencion personalizada</span>
              </h2>
              <p class="mb-0">MSTech una empresa con mas de 10 años de experiencia focalizada en brindar soluciones IT. Reciba asesoramiento de nuestros expertos para obtener los mejores resultados. Mejora continua. Vinculación. Intranet. Monitoreo de la Gestión.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


    